<div class="seller-auth">
    <div class="main">
        <input type="checkbox" id="chk" aria-hidden="true">

        <div class="signup">
            <form [formGroup]="signUpForm" (ngSubmit)="signup()">
                <label for="chk" aria-hidden="true">Sign up</label>
                <input type="text" name="txt" placeholder="User name" formControlName="uname" required="">
                <input type="email" name="email" placeholder="Email" formControlName="email" required="">
                <input type="password" name="pswd" placeholder="Password" formControlName="password" required="">
                <button>Sign up</button>
            </form>
        </div>

        <div class="login">
            <form [formGroup]="loginForm" (ngSubmit)="login()">
                <label for="chk" aria-hidden="true">Login</label>
                <input type="email" name="email" placeholder="Email" formControlName="email" required="">
                <input type="password" name="pswd" placeholder="Password" formControlName="password" required="">
                <button>Login</button>
            </form>
        </div>
    </div>
</div>