<div class="seller-auth">
    <div class="main">
        <h2>Seller Sign Up</h2>
        <div class="signup">
            <form [formGroup]="signUpForm" (ngSubmit)="signup()">
                <label for="chk" aria-hidden="true">Sign up</label>
                <input type="text" name="txt" placeholder="User name" required="" formControlName="uname">
                <input type="email" name="email" placeholder="Email" required="" formControlName="email">
                <input type="password" name="pswd" placeholder="Password" required="" formControlName="password">
                <button>Sign up</button>
                <p>Already have an account !! &nbsp;<a routerLink="/login"> Login</a></p>
            </form>
        </div>
    </div>
</div>