.nav{
    display: flex;
    justify-content: space-around;
}
.nav h1{
    font-size: 30px;
    color: blueviolet;
}
.nav ul{
    display: inline-flex;
    list-style-type: none;
    color: blueviolet;
    margin: 0;
    padding: 10px;
}
.nav li{
    padding-left: 15px;
    padding-top: 15px;
}
.nav li a{
    text-decoration: none;
    color: blueviolet;
}
.nav .search input{
    color: blueviolet;
    border: 1px solid blueviolet;
    border-right: none;
    height: 35px;
    flex: 1;
    /* width: 300px; */
    border-bottom-left-radius: 5px;
    border-top-left-radius: 5px;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
}
.nav .search{
    /* padding: 15px;
     */
     margin-top: 15px;
     flex: 1;
     display: flex;
     margin-left: 5%;
     margin-right: 5%;
}
.nav .search button{
    color: blueviolet;
    border: 1px solid blueviolet;
    border-left: none;
    height: 39px;
    border-bottom-left-radius: 0;
    border-top-left-radius: 0;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    /* border-radius: 5px; */
}